{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="{% static '404/css/main.css' %}" type="text/css" media="screen, projection" /> <!-- main stylesheet -->
<link rel="stylesheet" type="text/css" media="all" href="{% static '404/css/tipsy.css' %}" /> <!-- Tipsy implementation -->

<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="{% static '404/scripts/jquery.tipsy.js' %}" />
<![endif]-->

<script type="text/javascript" src="{% static '404/scripts/jquery-1.7.2.min.js' %}"></script> <!-- uiToTop implementation -->
<script type="text/javascript" src="{% static '404/scripts/custom-scripts.js' %}"></script>
<script type="text/javascript" src="{% static '404/scripts/jquery.tipsy.js' %}"></script> <!-- Tipsy -->

<script type="text/javascript">

$(document).ready(function(){

	universalPreloader();

});

$(window).load(function(){

	//remove Universal Preloader
	universalPreloaderRemove();

	rotate();
    dogRun();
	dogTalk();

	//Tipsy implementation
	$('.with-tooltip').tipsy({gravity: $.fn.tipsy.autoNS});

});

</script>


<title>404 - Not found</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

<!-- Universal preloader -->
<div id="universal-preloader">
    <div class="preloader">
        <img src="images/universal-preloader.gif" alt="universal-preloader" class="universal-preloader-preloader" />
    </div>
</div>
<!-- Universal preloader -->

<div id="wrapper">
<!-- 404 graphic -->
	<div class="graphic"></div>
<!-- 404 graphic -->
<!-- Not found text -->
	<div class="not-found-text">
    	<h1 style="font-size: 30px" class="not-found-text">对不起，页面没有找到!</h1>
    </div>
<!-- Not found text -->

<!-- search form -->
<div class="search">
	<form name="search" method="get" action="{% url 'search' %}" >
        <input type="text" name="search" placeholder="搜索 ..." />
        <input class="with-tooltip" title="搜索!" type="submit" name="submit" value="" />
    </form>
</div>
<!-- search form -->

<!-- top menu -->
<div class="top-menu" style="margin-top: 10px">
	<a href="{% url 'index' %}" class="with-tooltip" title="返回首页">首页</a>
</div>
<!-- top menu -->

<div class="dog-wrapper">
<!-- dog running -->
	<div class="dog"></div>
<!-- dog running -->
	
<!-- dog bubble talking -->
	<div class="dog-bubble">
    	
    </div>
    
    <!-- The dog bubble rotates these -->
    <div class="bubble-options">
    	<p class="dog-bubble">
        	你迷路了吗，巴德？别担心，我是个优秀的导游！
        </p>
    	<p class="dog-bubble">
	        <br />
        	汪! 汪!
        </p>
        <p class="dog-bubble">
        	<br />
        	别担心！我正在努力！
        </p>
        <p class="dog-bubble">
        	我想吃一块饼干<br /><img style="margin-top:8px" src="{% static '404/images/cookie.png' %}" alt="饼干" />
        </p>
        <p class="dog-bubble">
        	<br />
            天啊！这真让人厌烦！
        </p>
        <p class="dog-bubble">
        	<br />
        	我快到了吗？
        </p>
        <p class="dog-bubble">
        	或者我是在绕圈子？噢......
        </p>
        <p class="dog-bubble">
        	<br />
            好吧，我真的迷路了......
        </p>
        <p class="dog-bubble">
        	我想我看到了 <br /><img style="margin-top:8px" src="{% static '404/images/cat.png' %}" alt="cat" />
        </p>
        <p class="dog-bubble">
        	我们到底要找什么？_ @ @
        </p>
    </div>
    <!-- The dog bubble rotates these -->
<!-- dog bubble talking -->
</div>

<!-- planet at the bottom -->
	<div class="planet"></div>
<!-- planet at the bottom -->
</div>

<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>