{% extends 'webapp/site_content_common.html' %}
{% load staticfiles %}
{% load static %}

{% block site_content_common %}
    <h1 class="text-center">{{ application_obj.name }}</h1>
    <blockquote>{{ application_obj.description }}</blockquote>
    <div class="margin-top-16">
        {{ application_obj.content | safe }}
    </div>
    <div class="text-center margin-top-22">
        <span>分享是一种快乐，也是一种美德:    </span><div class="bshare-custom icon-medium"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
    </div>
{% endblock %}
