{% extends 'webapp/site_content_common.html' %}
{% load staticfiles %}

{% block head_css %}
    <style type="text/css">
        .news-content-title{
            padding-bottom: 6px;
        }
        .separate{
            margin: 0 10px;
            color: #cccccc;
        }
        .thumbs{
            display: inline-block;
            cursor: pointer;
            font-size: 24px;
        }
        .thumbs:hover{
            color: red;
        }
    </style>
{% endblock %}

{% block site_content_common %}
    <h1 class="text-center news-content-title">{{ news_obj.title }}</h1>
    <p class="text-center">
        <span><i class="fa fa-clock-o"></i>时间：{{ news_obj.date_publish | date:'Y-m-d H:i:s' }}</span><span class="separate">|</span>
        <span><i class="fa fa-user"></i>编辑：{{ news_obj.user }}</span><span class="separate">|</span>
        <span><i class="fa fa-eye"></i>浏览：<span class="red">{{ news_obj.eye_count }}</span></span>
    </p>
    <div class="margin-top-16">
        {{ news_obj.content | safe }}
    </div>
    <div class="margin-top-16 text-center">
        已经有<span class="red" id="thumb_count">{{ news_obj.thumb_count }}</span>人觉得不错，支持一下吧！<span onclick="go_thumbs()" class="thumbs"><i class="fa fa-thumbs-o-up"></i></span>
    </div>
    <div class="text-center margin-top-22">
        <span>分享是一种快乐，也是一种美德:    </span><div class="bshare-custom icon-medium"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
    </div>
{% endblock %}

{% block footer_js %}
    <script type="text/javascript" src="{% static 'scripts/layer/layer.js' %}"></script>
    <script type="text/javascript">
        function go_thumbs(){
            var index = layer.load(0, {shade: false});
            console.log($.cookie('csrftoken'));
            $.ajax({
                url: "{% url 'news_thumbs' %}",
                type: 'POST',
                data: {'news_id': '{{ news_obj.id }}'},
                headers:{'X-CSRFToken': $.cookie('csrftoken')},
                success: function(data){
                    layer.close(index);
                    if(data.result == '1'){
                        $('#thumb_count').text(data.message);
                        layer.msg('点赞成功！', {icon: 6})
                    }else{
                        layer.msg(data.message, {icon: 0})
                    }
                },
                error: function(data){
                    layer.close(index);
                    layer.msg('服务异常！', {icon: 5})
                }
            })
        }
    </script>
{% endblock %}