{% extends 'webapp/site_content_common.html' %}
{% load staticfiles %}
{% load static %}

{% block head_css %}
    <style>
        .recruit{
            border-bottom: 1px solid #ddd;
            padding: 20px 0 40px;
        }
    </style>
{% endblock %}

{% block site_content_common %}
    <h1 class="text-center">招聘信息</h1>
    <div class="margin-top-16">
        <div class="recruit">
            <h4><strong>产品经理</strong></h4>
            <div>
                <p>岗位职责：<br>&nbsp;1.&nbsp;协助产品经理进行市场调查、竞品分析、用户分析。<br>&nbsp;2.&nbsp;独立承担产品模块的需求调研、分析、整理、跟踪工作。<br>&nbsp;3.&nbsp;独立设计交互原型，撰写PRD，设计可用性测试方案。<br>&nbsp;4.&nbsp;协助产品经理将需求交付给研发，对任务进行跟进，以用户角度对项目进行测试和验收。<br>&nbsp;5.&nbsp;协助产品经理进行产品生命周期管理。<br><br>任职要求：<br>1.&nbsp;大学本科及以上学历。有产品工作经验者优先。<br>2.&nbsp;熟练使用Axure、Xmind、Visio、Office等工具软件。<br>3.&nbsp;必须具备优秀的PRD撰写能力与原型设计能力。<br>4.&nbsp;有能力跨团队协作、沟通以确保顺利的产品开发流程。<br>5.&nbsp;具有基本的产品sense，爱好产品工作，自我驱动意识强，思维活跃，追求产品质量。<br>6.&nbsp;逻辑思维极强，能清晰梳理复杂的业务流程。良好的沟通表达和文字表述能力。<br>7.&nbsp;接受短期出差要求。<br>加分项<br>1.&nbsp;有toB方向平台型产品工作经验<br>2.&nbsp;有独立负责过完整的产品生命周期的项目经验<br>3.&nbsp;有数据分析相关工作经验<br><br>简历中请附上个人相关作品(PRD、交互原型等)和一份冷门但特点鲜明的产品体验报告</p>
                </div>
        </div>
        <div class="recruit">
            <h4><strong>产品经理</strong></h4>
            <div>
                <p>岗位职责：<br>&nbsp;1.&nbsp;协助产品经理进行市场调查、竞品分析、用户分析。<br>&nbsp;2.&nbsp;独立承担产品模块的需求调研、分析、整理、跟踪工作。<br>&nbsp;3.&nbsp;独立设计交互原型，撰写PRD，设计可用性测试方案。<br>&nbsp;4.&nbsp;协助产品经理将需求交付给研发，对任务进行跟进，以用户角度对项目进行测试和验收。<br>&nbsp;5.&nbsp;协助产品经理进行产品生命周期管理。<br><br>任职要求：<br>1.&nbsp;大学本科及以上学历。有产品工作经验者优先。<br>2.&nbsp;熟练使用Axure、Xmind、Visio、Office等工具软件。<br>3.&nbsp;必须具备优秀的PRD撰写能力与原型设计能力。<br>4.&nbsp;有能力跨团队协作、沟通以确保顺利的产品开发流程。<br>5.&nbsp;具有基本的产品sense，爱好产品工作，自我驱动意识强，思维活跃，追求产品质量。<br>6.&nbsp;逻辑思维极强，能清晰梳理复杂的业务流程。良好的沟通表达和文字表述能力。<br>7.&nbsp;接受短期出差要求。<br>加分项<br>1.&nbsp;有toB方向平台型产品工作经验<br>2.&nbsp;有独立负责过完整的产品生命周期的项目经验<br>3.&nbsp;有数据分析相关工作经验<br><br>简历中请附上个人相关作品(PRD、交互原型等)和一份冷门但特点鲜明的产品体验报告</p>
                </div>
        </div>
    </div>
    <div class="text-center margin-top-22">
        <span>分享是一种快乐，也是一种美德:    </span><div class="bshare-custom icon-medium"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
    </div>
{% endblock %}
